<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <title>Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="asset/mobile/images/game.png" type="image/x-icon" />
	<link rel="stylesheet" href="asset/mobile/css/mobile.css?v=1.0.1" />
</head>

<body>
  <div id="app" v-cloak>
    <div class="g-hd f-cb">
      <a class="logo" href="../index.html"></a>
      <div class="panel">
        <a href="javascript:void(0);" id="JS-show-game-categories"><i class="icon-categories"></i></a>
        <ul class="mg-sort" id="JS-game-categories">
          <template v-for="cate in mainCategories" :key="cate.id">
            <li>
              <a
                :href="cate.id === 15 ? `index.html?gameChannelId=${gameChannelId}` : handleToType(cate)">{{cate.name}}</a>
            </li>
            <li v-if="cate.id === 15">
              <a :href="`popular.html?gameChannelId=${gameChannelId}`">Popular</a>
            </li>
          </template>
        </ul>
      </div>
    </div>
    <div class="g-mn">
      <div class="m-box">
        <div class="m-box-hd">
          <div class="tt">
            Popular
          </div>
        </div>
        <div class="m-box-mn">
          <ul class="m-article-list">
            <li class="has-cover" v-for="item in list" :key="item.gameId">
              <a :href="handleToDetail(item.gameId, parent.name)">
                <img class="cover" :src="item.gameLogo" :data-src="item.gameLogo"
                  :alt="`${item.gameLogo}|${item.gameId}`" class="img-fluid blog-img" />
                <p class="name">{{item.gameName}}</p>
                <p class="text-dark">❤ Liek: {{item.gameId}}</p>
                <p><span class="play" style="width: 100px !important;">Play</span></p>
              </a>
            </li>
          </ul>
          <div class="m-pager" v-if="totalPages > 1">
            <nav aria-label="Page navigation">
              <ul class="pagination clearfix">
                <li class="page-item" :class="{ disabled: currentPage === 1 }"><a class="page-link link-left"
                    href="javascript:void(0)" @click="goToPage(currentPage - 1)"
                    :tabindex="currentPage === 1 ? -1 : 0">←</a></li>
                <li class="page-item" v-for="pageNum in getPageNumbers()" :key="pageNum"
                  :class="{ active: pageNum === currentPage, disabled: pageNum === '...' }"><a v-if="pageNum !== '...'"
                    class="page-link" href="javascript:void(0)" @click="goToPage(pageNum)">{{ pageNum }}</a><span v-else
                    class="page-link">{{ pageNum }}</span></li>
                <li class="page-item" :class="{ disabled: currentPage === totalPages }"><a class="page-link link-right"
                    href="javascript:void(0)" @click="goToPage(currentPage + 1)"
                    :tabindex="currentPage === totalPages ? -1 : 0">→</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <footer v-html="footer" class="footer"></footer>
    </div>
    <div class="g-ft f-cb">
      <div class="f-fl">
        <small>© 2026 Jobzmac.com. All rights reserved.</small>
      </div>
      <div class="f-fr">
        <a href="#" class="to-top">⬆Top</a>
        <br />
      </div>
    </div>
  </div>
</body>
<script src="asset/mobile/js/jquery.min.js?v=1.0.1"></script>
<script src="asset/mobile/js/swiper.min.js?v=1.0.1"></script>
<script src="asset/mobile/js/main.js?v=1.0.1"></script>
<script src="asset/mobile/js/footer.js?v=1.0.1"></script>
<script src="asset/mobile/js/gameData.js?v=1.0.1"></script>
<script src="asset/mobile/js/vue.min.js?v=1.0.1"></script>
<script src="asset/mobile/js/axios.min.js?v=1.0.1"></script>
<script src="asset/mobile/js/popular.js?v=1.0.1"></script>
<script src="asset/mobile/js/mobile.js?v=1.0.1"></script>

</html>